<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="/css/style.css" rel="stylesheet">
    <title>Pay My Buddy</title>
</head>

<body>

<!-----------------------------------  Navigation bar, breadcrumb and logout modal ------------------------------------>

<div class="container-fluid">
    <header th:insert="navigation.html :: navigationBar"></header>
</div>

<!-------------------------------------------------  Welcome phrase --------------------------------------------------->

<div class="container justify-content-center pt-9">
    <h4>Welcome to your profile section <span th:if="${personDTO != null}" th:text="${personDTO.firstName}"></span>&#33;
    </h4>

    <!-------------------------------------------  Change information form  ----------------------------------------------->

    <div class="row justify-content-center rounded-3 bg-light py-3 m-0">
        <h5 class="text-success text-start">Change your personal settings</h5>
        <form class="row" method="post" th:action="@{/home/profile}" th:object="${personDTO}">
            <span class="text-danger" th:errors="*{global}"> </span>
            <div class="alert text-success my-2 p-0" role="alert" th:if="${messageProfile != null}">
                <i class="bi bi-check-circle-fill" aria-hidden="true"></i>
                <span th:text="${messageProfile}"></span>
            </div>
            <div class="col-md-6">
                <label for="inputFirstName" class="form-label fst-italic">First name :</label>
                <input type="text" th:field="*{firstName}" class="form-control" id="inputFirstName"
                       placeholder="First name" value="${personDTO.firstName}">
                <span class="text-danger" th:errors="*{firstName}"> </span>
            </div>
            <div class="col-md-6 mt-3 mt-md-0">
                <label for="inputLastName" class="form-label fst-italic">Last name :</label>
                <input type="text" th:field="*{lastName}" class="form-control" id="inputLastName"
                       placeholder="Last name" value="${personDTO.lastName}">
                <span class="text-danger" th:errors="*{lastName}"> </span>
            </div>
            <div class="mt-11 col-md-6 col-xl-3">
                <button type="submit" class="btn btn-primary d-block col-12">Modify my information</button>
            </div>
        </form>
    </div>

    <!---------------------------------------------  Change password form  ------------------------------------------------>

    <div class="row justify-content-center rounded-3 bg-light py-3 mx-0 my-3">

        <h5 class="text-success text-start">Change your password
            <a href="#" class="d-inline-block text-primary" data-bs-toggle="popover" data-offset="35,0"
               title="To be valid, your new password should:" data-trigger="hover"
               data-html="true" data-content="<ul>
                    <li>Contain at least 8 characters</li>
                    <li>Contain at least an uppercase letter and a lowercase letter</li>
                    <li>Contain at least a number and a special character</li>
                    <li>Not contain any white space</li>
                </ul>">
                <i class="bi bi-info-circle-fill" aria-hidden="true"></i>
            </a>
        </h5>


        <form class="row" method="post" th:action="@{/home/profile/password}" th:object="${changePasswordDTO}">
            <div class="alert text-success my-2 p-0" role="alert" th:if="${messagePassword != null}">
                <i class="bi bi-check-circle-fill" aria-hidden="true"></i>
                <span th:text="${messagePassword}"></span>
            </div>
            <span class="text-danger" th:errors="*{global}"> </span>
            <div class="col-md-6">
                <label for="inputPassword" class="form-label fst-italic">Choose a new password :</label>
                <div class="input-group mb-2 border border-secondary rounded-3">
                    <input type="password" th:field="*{password}" class="form-control border-0" id="inputPassword"
                           placeholder="New password">
                    <div class="input-group-prepend m-0 p-0 ">
                        <div class="input-group-text bg-white border-0 mr-1 pr-1">
                            <i class="far fa-eye" id="togglePassword" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
                <span class="text-danger" th:errors="*{password}"> </span>
            </div>
            <div class="col-md-6 mt-3 mt-md-0">
                <label for="inputConfirmationPassword" class="form-label fst-italic">Confirm your password :</label>
                <div class="input-group mb-2 border border-secondary rounded-3">
                    <input type="password" th:field="*{confirmationPassword}" class="form-control border-0"
                           id="inputConfirmationPassword" placeholder="Confirmation">
                    <div class="input-group-prepend m-0 p-0 ">
                        <div class="input-group-text bg-white border-0 mr-1 pr-1">
                            <i class="far fa-eye" id="toggleConfirmationPassword" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
                <span class="text-danger" th:errors="*{confirmationPassword}"> </span>
            </div>
            <div class="mt-11 col-md-6 col-xl-3">
                <button type="submit" class="btn btn-primary d-block col-12">Change my password</button>
            </div>
        </form>
    </div>

    <!-------------------------------------------  Manage money form  ----------------------------------------------->

    <div class="row justify-content-center rounded-3 bg-light py-3 mx-0 my-3">
        <h5 class="text-success text-start">Manage your money</h5>
        <div class="row justify-content-between my-3">
            <div class="col-md-6">
                <div class="btn btn-success text-light d-block bg-success  col-12"> Your available balance:
                    <span th:text="${personDTO.availableBalance + '&#x20AC;'}">0 &#x20AC;</span>
                </div>
            </div>
            <div class="col-md-3 mt-3 mt-md-0">
                <a th:href="@{/home/profile/manageBankAccounts}" class="btn btn-primary d-block col-12" type="button">Manage
                    your bank accounts</a>
            </div>
        </div>
        <form class="row justify-content-start" method="post" th:action="@{/home/profile/transferBank}"
              th:object="${transactionDTO}">
            <span class="text-danger" th:errors="*{global}"> </span>
            <div class="alert text-success my-2 p-0" role="alert" th:if="${messageAccount != null}">
                <i class="bi bi-check-circle-fill" aria-hidden="true"></i>
                <span th:text="${messageAccount}"></span>
            </div>
            <div class="alert text-success my-2 p-0" role="alert" th:if="${messageTransaction != null}">
                <i class="bi bi-check-circle-fill" aria-hidden="true"></i>
                <span th:text="${messageTransaction}"></span>
            </div>
            <div class="col-md-6">
                <label for="selectBankAccount" class="form-label fst-italic">Select a bank account:</label>
                <select th:field="*{receiver}" class="form-select border-secondary" id="selectBankAccount">
                    <option selected value="">Bank account</option>
                    <option th:each="bankAccountDTO : ${personDTO.bankAccountDTOList}"
                            th:value="${bankAccountDTO.iban}"
                            th:text="${bankAccountDTO.usualName + '- N°' + bankAccountDTO.iban}"></option>
                </select>
                <span class="text-danger" th:errors="*{receiver}"> </span>
            </div>
            <div class="col-md-6 mt-3 mt-md-0">
                <label class="form-label fst-italic">Indicate the desired amount:</label>
                <input th:field="*{amount}" type="number" class="form-control border-secondary" min=0 placeholder="0&#x20AC;">
            </div>
            <div class="mt-11 col-md-6 col-xl-3">
                <button type="submit" name="button" value="getMoneyFromBank"
                        class="btn btn-primary d-block col-12">Get
                    money from bank account
                </button>
            </div>
            <div class="mt-11 col-md-6 col-xl-3">
                <button type="submit" name="button" value="sendMoneyToBank"
                        class="btn btn-primary d-block col-12">Send
                    money to bank account
                </button>
            </div>
        </form>
    </div>

    <!--------------------------------------------------------------------------------------------------------------------->

</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script src="https://kit.fontawesome.com/f923d597fd.js" crossorigin="anonymous"></script>

<!---------------------------------------------Script for popover------------------------------------------------------>
<script>
    var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
  return new bootstrap.Popover(popoverTriggerEl)})

</script>
<!------------------------------Scripts for showing/hiding password and confirmation----------------------------------->
<script>
const togglePassword = document.querySelector('#togglePassword');
const password = document.querySelector('#inputPassword');
togglePassword.addEventListener('click', function (e) {
// toggle the type attribute
const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
password.setAttribute('type', type);
// toggle the eye slash icon
this.classList.toggle('fa-eye-slash');});
</script>

<script>
const toggleConfirmationPassword = document.querySelector('#toggleConfirmationPassword');
const confirmationPassword = document.querySelector('#inputConfirmationPassword');
toggleConfirmationPassword.addEventListener('click', function (e) {
// toggle the type attribute
const type = confirmationPassword.getAttribute('type') === 'password' ? 'text' : 'password';
confirmationPassword.setAttribute('type', type);
// toggle the eye slash icon
this.classList.toggle('fa-eye-slash');});
</script>


</body>
</html>